{% extends 'base.html.twig' %}

{% block title %}Vacansee | İş elanları üçün API{% endblock %}

{% block meta %}
    <meta name="description" content="Azərbaycan iş elanlarını bir məkanda toplayıb, sizə pulsuz API təqdim edirik.">
    <meta name="keywords"
          content="iş elanı, iş elanları, iş, vakansiya, vakansiyalar, Azərbaycanda iş, Bakıda iş, API, pulsuz, telegram, IT vakansiyalar, developer, proqramçı, database, baza">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Vacansee | İş elanları üçün API">
    <meta property="og:description"
          content="Azərbaycan iş elanlarını bir məkanda toplayıb, sizə pulsuz API təqdim edirik.">
    <meta property="og:image" content="{{ asset('build/images/logo_1024x512.png') }}">
    <meta name="twitter:title" content="Vacansee | İş elanları üçün API">
    <meta name="twitter:description"
          content="Azərbaycan iş elanlarını bir məkanda toplayıb, sizə pulsuz API təqdim edirik.">
    <meta name="twitter:image" content="Azərbaycan iş elanlarını bir məkanda toplayıb, sizə pulsuz API təqdim edirik.">
    {# <meta name="twitter:site" content="@WEBSITE_USERNAME"> #}
    {# <meta name="twitter:creator" content="@USERNAME"> #}
{% endblock %}

{% block body %}

    <div class="container-fluid d-flex flex-column vh-100">

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ path('app.home') }}">
                <img class="logo" src="{{ asset('build/images/logo_1024x512.png') }}" alt="Vacansee logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ path('api_doc') }}">Dokumentasiya</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="https://money.yandex.ru/to/4100115655723166"
                           target="_blank">İanə</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-telegram"></i> Telegram
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-primary" href="https://t.me/vacansee_bot" target="_blank"><i
                                        class="fas fa-robot"></i>
                                Vacansee bot</a>
                            <a class="dropdown-item text-primary" href="https://t.me/vacansee_all" target="_blank"><i
                                        class="fas fa-bullhorn"></i> Vacansee</a>
                            <a class="dropdown-item text-primary" href="https://t.me/vacansee_it" target="_blank"><i
                                        class="fas fa-bullhorn"></i> IT Vacansee</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="https://github.com/mesolaries/vacansee-api"><i
                                    class="fab fa-github"></i> Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="mailto:support@vacansee.xyz"
                           target="_blank">Əlaqə</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row align-items-lg-start align-items-xl-center justify-content-start flex-fill mx-2">

            <div class="col-lg-12 col-xl-6">
                <h1 class="mb-4">İş elanları bir məkanda</h1>
                <p class="lead text-primary">
                    Biz Azərbaycanın müxtəlif iş elanı saytlarında yerləşdirilən bütün vakansiyaları bir yerdə
                    toplayırıq. Hər gün yenilənən bazamızda yalnız ən son vakansiyaları görə bilərsiniz.
                </p>
                <p class="lead text-primary">Bazadan istifadə etmək üçün sizə pulsuz API təqdim edirik. Qeydiyyat üçün
                    sadəcə email tələb
                    olunur.</p>

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}

                <button type="submit" class="btn btn-primary w-100">Göndər</button>
                {{ form_end(registrationForm) }}

                <footer class="my-3">
                    <p class="text-center small">&copy; {{ 'now'|date('Y') }} Vacansee | <a
                                href="https://www.linkedin.com/in/mnf-emil" target="_blank" class="text-primary">Emil
                            Manafov</a> tərəfindən
                        yaradılmışdır.</p>
                </footer>
            </div>
        </div>


        {% for flashSuccess in app.flashes('success') %}
            <div class="alert alert-success" role="alert"></div>
            <div class="row mx-1">
                <div class="alert alert-success col-md-4 ml-auto">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <i class="fas fa-check"></i> <strong>Uğurlu əməliyyat</strong>
                    <hr class="message-inner-separator my-2">
                    <p>{{ flashSuccess }}</p>
                </div>
            </div>
        {% endfor %}

        {% for flashInfo in app.flashes('info') %}
            <div class="row mx-1">
                <div class="alert alert-info col-md-4 ml-auto">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <i class="fas fa-info"></i> <strong>Məlumat</strong>
                    <hr class="message-inner-separator my-2">
                    <p>{{ flashInfo }}</p>
                </div>
            </div>
        {% endfor %}

        {% for flashError in app.flashes('error') %}
            <div class="row mx-1">
                <div class="alert alert-danger col-md-4 ml-auto">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    <i class="fas fa-exclamation"></i> <strong>Səhv</strong>
                    <hr class="message-inner-separator my-2">
                    <p>{{ flashError }}</p>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}