<!DOCTYPE html>
<html lang="az" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#00B0AD">

    {% block meta %}{% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/images/icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/images/icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/images/icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/images/icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/images/icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/images/icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/images/icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/images/icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/icon-180x180.png') }}">

    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon-16x16.png') }}" sizes="16x16">

    {% block stylesheets %}{% endblock %}
</head>
<body class="bg" style="background-image: url({{ asset('build/images/pattern.svg') }})">
{% block body %}{% endblock %}
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
